.vs/
Business/bin/
Business/obj/
Common/bin/
Common/obj/
Data/bin/
Data/obj/
Entity/bin/
Entity/obj/
Web/bin/
Web/obj/
Model/bin/
Model/obj/
packages/
*.user
*.pubxml
Web/OAWeb.csproj.user
Web/Upload/
Web/Preview/
