
@{
    ViewBag.Title = "信息反馈";
    Layout = "~/Views/Shared/_FontPageLayout.cshtml";
}

@section css{
    <style>
        .body-content {
            width: 100%;
            height: 100%;
        }

        .top-img-box {
            height: 500px;
            background-image: url("/Content/pcimage/21.jpg");
            background-size: cover;
        }

        .top-img-box-modal {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .top-title-box {
            width: 705px;
            height: 260px;
            background-color: rgba(255,255,255,0.3);
            padding: 60px 100px;
            position: relative;
        }

        .top-title-box-content {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding:10px;
        }

        .border-line {
            position: absolute;
        }

            .border-line.top {
                width: 40%;
                height: 2px;
                background-color: #162F67;
                top: 0;
                left: 0;
            }

            .border-line.right {
                width:2px;
                height:80%;
                background-color:white;
                bottom:0;
                right:0;
            }
            .border-line.bottom {
                width: 40%;
                height: 2px;
                background-color: white;
                bottom: 0;
                right: 0;
            }
            .border-line.left {
                width: 2px;
                height: 80%;
                background-color: #162F67;
                top: 0;
                left: 0;
            }
        /*标题*/
        .commtitle {
            margin-top: 100px;
        }

            .commtitle > div {
                display: flex;
                justify-content: center;
            }

            .commtitle > .cname {
                display: flex;
                align-items: center;
            }

                .commtitle > .cname > .line {
                    height: 2px;
                    background-color: rgba(102,102,102,0.4);
                    width: 80px;
                }

                .commtitle > .cname > .text {
                    font-size: 26px;
                    color: rgba(51,51,51,1);
                    margin: 0 30px;
                }

            .commtitle > .ename {
                color: #999999;
                font-size: 22px;
                margin-top: 15px;
            }


        /*分页*/
        .pagination {
            display: flex;
            justify-content: flex-end;
            padding-right: 200px;
            margin: 80px 0;
            align-items: center;
        }

        .pageBtn {
            margin-left: 10px;
            padding: 5px 10px;
            font-size: 18px;
            border: 1px solid #D2D2D2;
            border-radius: 5px;
            color: #757575;
            cursor: pointer;
        }

        .gotoPage {
            margin: 0 20px;
            font-size: 18px;
        }

            .gotoPage > input {
                height: 30px;
                width: 60px;
                border-radius: 5px;
                border: 1px solid #D2D2D2;
                text-align: center;
            }

        .currentPage {
            margin-left: 10px;
            padding: 5px 10px;
            font-size: 18px;
            border: 1px solid #162F67;
            background-color: #162F67;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
    </style>
}
<div class="body-content">
    <div class="top-img-box">
        <div class="top-img-box-modal">
            <div class="top-title-box">
                <div class="top-title-box-content">
                    <div class="border-line top"></div>
                    <div class="border-line right"></div>
                    <div class="border-line bottom"></div>
                    <div class="border-line left"></div>
                    <div style="color:#BBBBBB;font-size:24px;">
                        RECRUITING CENTRE
                    </div>
                    <div>
                        <span style="font-size:40px;color:white;">
                            聚天下
                        </span>
                        <span style="font-size:52px;color:#162F67">
                            英才
                        </span>
                        <span style="font-size:40px;color:white;">
                            招能士
                        </span>
                        <span  style="font-size:50px;color:#162F67">
                            贤才
                        </span>
                    </div>
                    <div style="font-size:16px;color:#C3C3C3">GATHER WORLD TALENT TO RECRUIT VIRTUOUS PEOPLE</div>
                </div>
            </div>
        </div>
    </div>
    <div class="commtitle">
        <div class="cname">
            <div class="line"></div>
            <div class="text">招贤纳才</div>
            <div class="line"></div>
        </div>
        <div class="ename">RECRUITMENT&nbsp;TALENTS</div>
    </div>
    <div class="info-grid">
        <div class="grid-title">职位列表</div>
        <div></div>
    </div>
    <div class="pagination">
        <div class="currentPage">1</div>
        <div class="pageBtn">2</div>
        <div class="pageBtn">3</div>
        <div class="pageBtn">4</div>
        <div class="pageBtn">下一页</div>
        <div class="gotoPage">
            到第
            <input type="number" min="1" />
            页
        </div>
        <button class="currentPage" type="button">
            确定
        </button>
    </div>
</div>
