
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>客户管理</title>
    @Html.Partial("~/Views/Shared/_Head.cshtml")

</head>
<body>
    <div id="App" ref="App" v-loading="Loading.bodyLoading">
        <template>
            <div ref="QueryFormDiv">
                <el-form :model="QueryFormData" :inline="true" class="Query_Form" ref="QueryForm" @@submit.native.prevent label-width="80px">
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="用户姓名" prop="CusName">
                                <el-input v-model="QueryFormData.CusName" placeholder="请输入用户姓名"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="手机号码" prop="PhoneNo">
                                <el-input v-model="QueryFormData.PhoneNo" placeholder="请输入手机号码"></el-input>
                            </el-form-item>
                        </el-col>
                       
                        <el-col :span="8">
                            <el-button type="primary" @@click="onQuery" icon="el-icon-search">查询</el-button>
                            <el-button type="primary" @@click="resetQueryForm" icon="el-icon-refresh">重置</el-button>
                        </el-col>

                    </el-row>

                </el-form>
                <el-row class="Table_Button_Row">
                    <el-col :span="24">
                        <el-button type="danger" v-if="ActionPermission.Delete" :disabled="ButtonState.btnDelete" ref="btnDelete" @@click="deleteClick" icon="icon iconfont icon-delete">删除</el-button>
                    </el-col>
                </el-row>
            </div>
            <el-table ref="dataTable"
                      :data="tableData"
                      :border="true"
                      :height="tableHeight"
                      @@selection-change="selectChange"
                      @@row-click="rowClick"
                      style="width: 100%;margin-top:20px;"
                      element-loading-text="拼命加载中"
                      element-loading-spinner="el-icon-loading"
                      element-loading-background="rgba(200, 200,200, 0.5)"
                      v-loading="Loading.tableLoading">
                <el-table-column type="index"
                                 :index="showIdex"
                                 label=" ">
                </el-table-column>
                <el-table-column type="selection"
                                 width="50">
                </el-table-column>
                <el-table-column prop="CusName"
                                 label="用户姓名"
                                 width="200">
                </el-table-column>
                <el-table-column prop="PhoneNo"
                                 label="手机号码"
                                 width="200">
                </el-table-column>
                <el-table-column prop="RegTime"
                                 label="注册时间"
                                 width="200">
                    <template slot-scope="scope">
                        {{ DateFormat(scope.row.RegTime,'yyyy-MM-dd HH:mm:ss') }}
                    </template>
                </el-table-column>
                <el-table-column prop="RegEmail"
                                 label="注册邮箱"
                                 width="200">
                </el-table-column>
                <el-table-column prop="LastLoginTime"
                                 label="最后一次登录时间"
                                 width="200">
                    <template slot-scope="scope">
                        {{ DateFormat(scope.row.LastLoginTime,'yyyy-MM-dd HH:mm:ss') }}
                    </template>
                </el-table-column>
            </el-table>
            <div ref="Pagination">
                <el-pagination @@size-change="handleSizeChange"
                               @@current-change="handleCurrentChange"
                               :current-page.sync="QueryFormData.Page"
                               :page-size.sync="QueryFormData.PageSize"
                               :page-sizes="PaginationData.pageSizes"
                               layout="total, sizes, prev, pager, next, jumper"
                               :total="PaginationData.total"
                               style="width:100%;padding-left:20px;box-sizing:border-box">
                </el-pagination>
            </div>
     
        </template>
    </div>
</body>
</html>
<script>
    $vue = new Vue({
        el: "#App",
        data: {
            QueryFormData: {
                CusName: "",
                PhoneNo: "",
                Page: 1,
                PageSize: 10,
            },
            tableData: [],
            tableHeight: 500,
            ButtonState: {
                btnEdit: true,
                btnDelete: true,
                btnPreview: true,
            },
            Dialog: {
                addDialog: false,
            },
          
            Loading: {
                bodyLoading: false,
                tableLoading: false
            },
            SelectOption: {
                NewsTypeList: []
            },
            PaginationData: {
                pageSizes: [10, 20, 50, 100],
                total: 0
            },
            PaginationFilter: {
            },
            ActionPermission: {
                Add: false,
                Edit: false,
                Delete: false
            },
            modifyTitle: ""
        },
        methods: {
            onQuery: function () {
                this.QueryFormData.Page = 1;
                this.PaginationFilter = JSON.parse(JSON.stringify(this.QueryFormData));
                getList();
            },
            showIdex: function (index) {
                return (this.QueryFormData.Page - 1) * this.QueryFormData.PageSize + 1 + index;
            },
            resetQueryForm: function () {
                this.$refs.QueryForm.resetFields();
            },
           
            deleteClick: function () {
                this.$confirm('是否确认删除这' + this.$refs.dataTable.selection.length + '行数据', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    $vue.Loading.bodyLoading = true;
                    axios.post("DeleteCustomer", $vue.$refs.dataTable.selection).then(function (response) {
                        $vue.Loading.bodyLoading = false;
                        ActionCommonHandle(response.data, $vue, "删除成功", "删除失败", getList());
                    }).catch(function (error) {
                        ErrorCommonHandle($vue);
                    }).finally(function () {
                        $vue.Loading.bodyLoading = false;
                    });
                }).catch(function () {
                    $vue.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            selectChange: function (selectValue) {
                if (this.$refs.dataTable.selection.length == 0) {
                    this.ButtonState.btnEdit = true;
                    this.ButtonState.btnDelete = true;
                }
                else if (this.$refs.dataTable.selection.length == 1) {
                    this.ButtonState.btnEdit = false;
                    this.ButtonState.btnDelete = false;
                }
                else {
                    this.ButtonState.btnEdit = true;
                    this.ButtonState.btnDelete = false;
                }
            },
            rowClick: function (row, event, column) {
                this.$refs.dataTable.toggleRowSelection(row);
            },
            handleSizeChange: function (val) {
                if (this.QueryFormData.Page > (this.PaginationData.total / val + 1)) {
                    return;
                }
                this.PaginationFilter.Page = this.QueryFormData.Page;
                this.PaginationFilter.PageSize = val;
                getList(this.PaginationFilter);
            },
            handleCurrentChange: function (val) {
                this.PaginationFilter.Page = val;
                this.PaginationFilter.PageSize = this.QueryFormData.PageSize;
                getList(this.PaginationFilter);
            },
            closeAddDialog: function (done) {
                done();
            },
            uploadImgSuccess: function (response, file, fileList) {
                file.url = response;
                this.AddFormData.CoverImg = file.url;
            },
            removeImg: function (file, fileList) {
                this.AddFormData.CoverImg = "";
            },
            DateFormat: DateFormat
        }

    });

    function getList(filter) {
        if (filter == null) {
            filter = $vue.QueryFormData;
        }
        $vue.$refs.dataTable.clearSelection();
        $vue.ButtonState.btnEdit = true;
        $vue.ButtonState.btnDelete = true;
        $vue.Loading.tableLoading = true;
        axios.post("GetCustomerList", filter).then(function (response) {
            $vue.Loading.tableLoading = false;
            $vue.tableData = response.data.List;
            $vue.PaginationData.total = response.data.Total;
        }).catch(function (error) {
            $vue.Loading.tableLoading = false;
            $vue.tableData = [];
            $vue.PaginationData.total = 0;
            $vue.$message({
                type: 'error',
                message: '服务器出错'
            });
        });
    }


    window.onresize = function () {
        $vue.tableHeight = $vue.$refs.App.getBoundingClientRect().height -
            $vue.$refs.QueryFormDiv.getBoundingClientRect().height -
            $vue.$refs.Pagination.getBoundingClientRect().height - 20;
    }
    getList();

    GetActionAuthorize($vue);
</script>